body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 82rem) 1fr;
}
body > main {
  grid-column: 2;
}

textarea {
  resize: none;
  inline-size: 100%;
  max-inline-size: 40rem;
}

.title {
  text-align: center;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.playground > * {
  inline-size: 100%;
  max-inline-size: 41rem;
}

.code {
  block-size: 25em;
}

.stdin {
  block-size: 2.75em;
}

.stdout {
  block-size: 5.5em;
}

.stdhex, .stderr {
  block-size: 11em;
}

.run, .clear-out {
  inline-size: 8em;
}

.max-out-length {
  inline-size: 5em;
}
